#path: /etc/ssh/sshd_config

# during development
PermitRootLogin yes
PasswordAuthentication yes
PermitTunnel yes

# run on client to enable production
#sudo su
#ssh-keygen -t rsa -b 2048
#ssh-copy-id root@<server_ip>

# for production
PermitRootLogin without-password
PasswordAuthentication no
PermitTunnel yes
