#path: /etc/ssh/sshd_config

# during installation
PermitRootLogin yes
PasswordAuthentication yes
PermitTunnel yes

#run on client:
#sudo su
#ssh-keygen -t rsa -b 2048
#ssh-copy-id root@<server_ip>

# production:
PermitRootLogin without-password
PasswordAuthentication no
PermitTunnel yes
